Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  frontend: 
    paths:
      - frontend
  backend:
    paths:
      - backend

uploads:
  - target: coverage
    flags: frontend
    path: frontend/coverage/lcov.info
  - target: coverage
    flags: backend
    path: backend/coveragereport/lcov.info

Updated get methods
  frontend/src/API/API_GetMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/rolemanagement.test.tsx
Due: frontend

Updated update methods
  frontend/src/API/API_Interfaces.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/API/API_config.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Updated API interfaces
  frontend/src/API/API_Interfaces.tsx
Due: frontend

Removed unused tests
  frontend/test/Settings.test.tsx
  frontend/test/family.test.tsx
  frontend/test/loggedIn.test.tsx
Due: frontend

Added some FamilyPage tests
  frontend/test/FamilyPage.test.tsx
Due: frontend

Added family page tests
  frontend/src/pages/FamilyPage.tsx
  frontend/test/FamilyPage.test.tsx
Due: frontend

On Error, still sets stateful values
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Updated sdk version
  backend/ChemistryCafeAPI.csproj
Due: backend

prettier action fixes
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismBrowser.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/src/components/RowActionsButton.tsx
  frontend/src/components/SelectReactionButton.tsx
  frontend/src/components/SelectSpeciesButton.tsx
  frontend/src/components/UnitComponent.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/serialization.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
  frontend/test/FamilyPage.test.tsx
Due: frontend

Removed Holidays Component
  frontend/src/components/Holidays.tsx
Due: frontend

Added more unit tests
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/UnitComponent.tsx
  frontend/src/helpers/stringify.ts
  frontend/test/Dashboard.test.tsx
  frontend/test/FamilyPage.test.tsx
  frontend/test/ProtectedRoute.test.tsx
  frontend/test/Settings.test.tsx
  frontend/test/stringify.test.ts
Due: frontend

Added small serialization tests
  frontend/src/pages/FamilyPage.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/FamilyPage.test.tsx
  frontend/test/serialization.test.tsx
  frontend/vitest.config.ts
Due: frontend

Added most basic rendering tests for settings
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
Due: frontend

font size slider
  frontend/src/pages/Settings.tsx
Due: frontend

added input to slider, doesn't work
  frontend/src/pages/Settings.tsx
Due: frontend

Added test for creating a family
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/test/FamilyPage.test.tsx
  frontend/test/serialization.test.tsx
Due: frontend

Fixed fontsize input logic
  frontend/src/pages/Settings.tsx
Due: frontend

Added significant test coverage for family page
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismBrowser.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/RowActionsButton.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/FamilyPage.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/FamilyPage.test.tsx
  frontend/test/backendInteractions.test.ts
Due: frontend

Fixed spelling of settings component
  frontend/test/Settings.test.tsx
Due: frontend

Added error handling when backend doesn't respond
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Added even more coverage
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/FamilyPage.test.tsx
Due: frontend

Updated Citation
  CITATION.cff
Due: none

Updated Citation (#160)
  CITATION.cff
Due: none

prettier action fixes
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/UnitComponent.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/Settings.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/Dashboard.test.tsx
  frontend/test/FamilyPage.test.tsx
  frontend/test/ProtectedRoute.test.tsx
  frontend/test/Settings.test.tsx
  frontend/test/backendInteractions.test.ts
  frontend/test/serialization.test.tsx
  frontend/test/stringify.test.ts
  frontend/vitest.config.ts
Due: frontend

low saturation theme
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/pages/Settings.tsx
Due: frontend

high saturation settings
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/pages/Settings.tsx
Due: frontend

monochrome theme
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/pages/Settings.tsx
Due: frontend

fixed build issues
  frontend/src/pages/Settings.tsx
Due: frontend

GetCurrentUser now has unit test
  backend-test.sh
  backend/Controllers/GoogleOAuthController.cs
  backend/Dockerfile
  backend/Services/UserService.cs
Due: backend

GetCurrentUser test actually added
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

nonexist google oauth test
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

Fixed Arrhenius serilize key for C/Ea option
  frontend/src/types/chemistryModels.ts
Due: frontend

Added README documentation on database migrations
  README.md
Due: none

Fixed Family Controller logic with nameidentifier
  backend/Controllers/FamilyController.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

Re-implement reactions, mechanisms
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/ReactionController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Family.cs
  backend/Models/Mechanism.cs
  backend/Models/Phase.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
Due: backend

Changed C/Ea back to Ea
  frontend/src/types/chemistryModels.ts
Due: frontend

Added more documentation to chemistry models
  frontend/src/types/chemistryModels.ts
Due: frontend

prettier action fixes
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

Create migration for mechanisms and reactions
  backend/Migrations/20250415192726_ReaddMechanismAndReaction.Designer.cs
  backend/Migrations/20250415192726_ReaddMechanismAndReaction.cs
Due: backend

Made NameIdentifier functions protected
  backend/Controllers/MechanismController.cs
  backend/Controllers/ReactionController.cs
Due: backend
