Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  frontend: 
    paths:
      - frontend
  backend:
    paths:
      - backend

uploads:
  - target: coverage
    flags: frontend
    path: frontend/coverage/lcov.info
  - target: coverage
    flags: backend
    path: backend/coveragereport/lcov.info

using dto in frontend
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

Convert troe to dedicated table (#281)
  backend/Migrations/20260916163801_AddTroeParameters.Designer.cs
  backend/Migrations/20260916163801_AddTroeParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

adding dedicated table for ternary
  backend/Migrations/20260916165919_AddTernaryChemicalActivationParameters.Designer.cs
  backend/Migrations/20260916165919_AddTernaryChemicalActivationParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  init.sql
Due: backend

ternary dto on frontend
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

Convert ternary chemical activation to a full database table (#290)
  backend/Migrations/20260916165919_AddTernaryChemicalActivationParameters.Designer.cs
  backend/Migrations/20260916165919_AddTernaryChemicalActivationParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

ncar branding, reorganizng home page
  frontend/index.html
  frontend/public/ncar-favicon.png
  frontend/public/ncar-generaluse.png
  frontend/src/assets/NCAR-Waves.png
  frontend/src/assets/NSF-NCAR_Lockup-UCAR-Dark.png
  frontend/src/assets/branding/ncar-mark.png
  frontend/src/assets/branding/nsf-ncar-lockup-color.png
  frontend/src/assets/branding/nsf-ncar-lockup-white.png
  frontend/src/assets/nsf-stackseal-logo-lockup-dark.png
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/FamilyBrowser.tsx
  frontend/src/components/HeaderFooter.tsx
  frontend/src/index.css
  frontend/src/pages/About.tsx
  frontend/src/pages/App.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/About.css
  frontend/src/styles/App.css
  frontend/src/styles/Home.css
  frontend/test/App.test.tsx
  frontend/test/Home.test.tsx
  frontend/test/Settings.test.tsx
  frontend/test/main.test.tsx
  frontend/test/rolemanagement.test.tsx
Due: frontend

Split Home, Browse, and My Families into distinct destinations
  frontend/src/components/NavDropDown.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/styles/Dashboard.css
  frontend/src/styles/Home.css
  frontend/test/App.test.tsx
  frontend/test/Home.test.tsx
Due: frontend

Replace the hamburger nav with direct header links
  frontend/src/components/HeaderFooter.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/test/Home.test.tsx
Due: frontend

Tone down dark-mode surfaces
  frontend/src/components/CustomThemeContext.tsx
Due: frontend

Use neutral near-black surfaces in dark mode, not navy
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Make the header and footer responsive, use the real ACOM lockup
  frontend/src/assets/branding/acom-lockup-horizontal-color.png
  frontend/src/assets/branding/acom-lockup-horizontal-white.png
  frontend/src/assets/branding/acom-lockup-vertical-color.png
  frontend/src/assets/branding/acom-lockup-vertical-white.png
  frontend/src/components/HeaderFooter.tsx
Due: frontend

ncar branding, reorganizng home page (#292)
  frontend/index.html
  frontend/public/ncar-favicon.png
  frontend/public/ncar-generaluse.png
  frontend/src/assets/NCAR-Waves.png
  frontend/src/assets/NSF-NCAR_Lockup-UCAR-Dark.png
  frontend/src/assets/branding/acom-lockup-horizontal-color.png
  frontend/src/assets/branding/acom-lockup-horizontal-white.png
  frontend/src/assets/branding/acom-lockup-vertical-color.png
  frontend/src/assets/branding/acom-lockup-vertical-white.png
  frontend/src/assets/branding/ncar-mark.png
  frontend/src/assets/branding/nsf-ncar-lockup-color.png
  frontend/src/assets/branding/nsf-ncar-lockup-white.png
  frontend/src/assets/nsf-stackseal-logo-lockup-dark.png
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/FamilyBrowser.tsx
  frontend/src/components/HeaderFooter.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/src/index.css
  frontend/src/pages/About.tsx
  frontend/src/pages/App.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/About.css
  frontend/src/styles/App.css
  frontend/src/styles/Dashboard.css
  frontend/src/styles/Home.css
  frontend/test/App.test.tsx
  frontend/test/Home.test.tsx
  frontend/test/Settings.test.tsx
  frontend/test/main.test.tsx
  frontend/test/rolemanagement.test.tsx
Due: frontend

adding table for branched
  backend/Migrations/20260917151649_AddBranchedParameters.Designer.cs
  backend/Migrations/20260917151649_AddBranchedParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  init.sql
Due: backend

adding branched frontend work
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

Convert branched no ro2 (#293)
  backend/Migrations/20260917151649_AddBranchedParameters.Designer.cs
  backend/Migrations/20260917151649_AddBranchedParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

taylor series table
  backend/Migrations/20260918003206_AddTaylorSeriesParameters.Designer.cs
  backend/Migrations/20260918003206_AddTaylorSeriesParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  init.sq
  init.sql
Due: backend

taylor series editor support
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

284 convert taylor series (#294)
  backend/Migrations/20260918003206_AddTaylorSeriesParameters.Designer.cs
  backend/Migrations/20260918003206_AddTaylorSeriesParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sq
  init.sql
Due: frontend, backend

prettier action fixes
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
Due: frontend

frontend support for surface reactions
  backend/Migrations/20260918004909_AddSurfaceParameters.Designer.cs
  backend/Migrations/20260918004909_AddSurfaceParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/components/modals/modalStyle.ts
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

Fix TROE reaction: map database column r4 to kinf_B, not N
  php/tags.php
Due: none

Fix TROE reaction: map database column r4 to kinf_B, not N (#303)
  php/tags.php
Due: none

frontend support for surface reactions (#296)
  backend/Migrations/20260918004909_AddSurfaceParameters.Designer.cs
  backend/Migrations/20260918004909_AddSurfaceParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/components/modals/modalStyle.ts
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

emissions database change
  backend/Migrations/20260918160500_AddEmissionParameters.Designer.cs
  backend/Migrations/20260918160500_AddEmissionParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

emissions database change (#298)
  backend/Migrations/20260918160500_AddEmissionParameters.Designer.cs
  backend/Migrations/20260918160500_AddEmissionParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

creating loss updates
  backend/Migrations/20260918163457_AddFirstOrderLossParameters.Designer.cs
  backend/Migrations/20260918163457_AddFirstOrderLossParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

creating loss updates (#299)
  backend/Migrations/20260918163457_AddFirstOrderLossParameters.Designer.cs
  backend/Migrations/20260918163457_AddFirstOrderLossParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

adding dedicated photoylsis table
  backend/Migrations/20260918165228_AddPhotolysisParameters.Designer.cs
  backend/Migrations/20260918165228_AddPhotolysisParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

adding dedicated photoylsis table (#301)
  backend/Migrations/20260918165228_AddPhotolysisParameters.Designer.cs
  backend/Migrations/20260918165228_AddPhotolysisParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

adding dedicated user defined table
  backend/Migrations/20260918171332_AddUserDefinedParameters.Designer.cs
  backend/Migrations/20260918171332_AddUserDefinedParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

adding dedicated user defined table (#302)
  backend/Migrations/20260918171332_AddUserDefinedParameters.Designer.cs
  backend/Migrations/20260918171332_AddUserDefinedParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

update seeding, remove reaction attribute tables
  backend/Migrations/20260918174248_RemoveReactionAttributeTables.Designer.cs
  backend/Migrations/20260918174248_RemoveReactionAttributeTables.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/SeedData/DbInitializer.cs
  backend/SeedData/SeedModels.cs
  backend/SeedData/generate-seed.mjs
  backend/SeedData/seed.json
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/ReactionService.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

update seeding, remove reaction attribute tables (#304)
  backend/Migrations/20260918174248_RemoveReactionAttributeTables.Designer.cs
  backend/Migrations/20260918174248_RemoveReactionAttributeTables.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/SeedData/DbInitializer.cs
  backend/SeedData/SeedModels.cs
  backend/SeedData/generate-seed.mjs
  backend/SeedData/seed.json
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/ReactionService.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

remove serialization keys
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  frontend/test/localFamilies.test.tsx
  frontend/test/serialization.test.tsx
Due: frontend

remove redundant ReactionAttribute.key field
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
Due: frontend

prettier action fixes
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

remove serialization keys (#305)
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  frontend/test/localFamilies.test.tsx
  frontend/test/serialization.test.tsx
Due: frontend

prettier action fixes
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

I added the orcid connection to the user database set up and tested the OAuth for orcid and env for you to do it on your own build.
  .env.example
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/UsersController.cs
  backend/Migrations/20260921200544_user-update.cs
  backend/Migrations/ChemistryDbContextModelSnapshot.cs
  backend/Models/User.cs
  backend/Program.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
  docker-compose.production.yml
  docker-compose.yml
  frontend/src/API/API_GetMethods.tsx
  frontend/src/assets/ORCID-iD_icon_vector.svg
  frontend/src/components/HeaderFooter.tsx
  frontend/test/API_GetMethods.test.tsx
  init.sql
Due: frontend, backend

Update backend/Services/OrcidOAuthService.cs
  backend/Services/OrcidOAuthService.cs
Due: backend
