Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update ci to not build images on updates to chart directory. Dev deployment values
  .github/workflows/docker_image.yml
  chart/values-dev.yaml
Due: none

chore(deploy): update dev image tag to cede13e
  chart/values-dev.yaml
Due: none

dev values futz
  chart/values-dev.yaml
Due: none

Switch devel website to external access
  chart/values-dev.yaml
Due: none

Add [Authorize] and [AllowAnonymous] Support.
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/OrcidOAuthService.cs
Due: backend

made Duplicate Links blocked rather then login to other accocunts and fixed related tests.
  backend/Controllers/OrcidOAuthController.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

Changed error message per kyles reccomendation
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/OrcidOAuthController.cs
Due: backend

Update README about ORCID env
  README.md
Due: none

Add Account screen & ORCID / Google linking (#315)
  README.md
  backend/Controllers/BaseHelperController.cs
  backend/Controllers/FamilyController.cs
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Program.cs
  backend/Services/FamilyService.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/MechanismService.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
Due: frontend, backend

prettier action fixes
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
Due: frontend

chore(deploy): update dev image tag to 98e8493
  chart/values-dev.yaml
Due: none

Adds First Name and Last Name to accounts page.
  backend/Migrations/20261001174232_AddUserFirstLast.Designer.cs
  backend/Migrations/20261001174232_AddUserFirstLast.cs
  backend/Models/User.cs
  backend/Services/UserService.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
  init.sql
Due: frontend, backend

Adds First Name and Last Name to accounts page. (#319)
  backend/Migrations/20261001174232_AddUserFirstLast.Designer.cs
  backend/Migrations/20261001174232_AddUserFirstLast.cs
  backend/Models/User.cs
  backend/Services/UserService.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
  init.sql
Due: frontend, backend

chore(deploy): update dev image tag to 7538d86
  chart/values-dev.yaml
Due: none

chore(deploy): update dev image tag to 91df45b
  chart/values-dev.yaml
Due: none

Functional tests to cover endpoint authorization
  .gitignore
  ChemistryCafe.sln
  backend/ChemistryCafeAPI.csproj
  backend/mstests/Functional/BaseFunctionalTests.cs
  backend/mstests/Functional/FamilyControllerFunctionalTests.cs
  backend/mstests/Functional/GoogleOAuthControllerFunctionalTests.cs
  backend/mstests/Functional/MechanismControllerFunctionalTests.cs
  backend/mstests/Functional/OrcidOAuthControllerFunctionalTests.cs
  backend/mstests/Functional/PhaseControllerFunctionalTests.cs
  backend/mstests/Functional/ReactionControllerFunctionalTests.cs
  backend/mstests/Functional/SpeciesControllerFunctionalTests.cs
  backend/mstests/Functional/TestWebApplicationFactory.cs
  backend/mstests/Functional/UsersControllerFunctionalTests.cs
  backend/mstests/Unit/DBConnection.cs
  backend/mstests/Unit/FamilyControllerTests.cs
  backend/mstests/Unit/FamilyServiceReconcileTests.cs
  backend/mstests/Unit/GoogleOAuthControllerTests.cs
  backend/mstests/Unit/MecahnismControllerTests.cs
  backend/mstests/Unit/OrcidOAuthControllerTests.cs
  backend/mstests/Unit/PhaseControllerTests.cs
  backend/mstests/Unit/ReactionControllerTests.cs
  backend/mstests/Unit/SpeciesControllerTests.cs
  backend/mstests/Unit/UsersControllerTests.cs
Due: backend

Refactor to use options for configuration, refactor out BaseHelperController functions
  backend/Controllers/BaseHelperController.cs
  backend/Controllers/FamilyController.cs
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Options/DatabaseOptions.cs
  backend/Options/GoogleAuthOptions.cs
  backend/Options/OrcidAuthOptions.cs
  backend/Options/UrlOptions.cs
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/OrcidOAuthControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Options/OptionsTests.cs
Due: backend

Add options folder to docker build
  backend/.dockerignore
Due: backend

Add options folder to docker build (#322)
  backend/.dockerignore
Due: backend

chore(deploy): update dev image tag to 47efe4f
  chart/values-dev.yaml
Due: none

Remove Index From Users
  backend/Migrations/20261005181222_RemoveIndexFromUsers.Designer.cs
  backend/Migrations/20261005181222_RemoveIndexFromUsers.cs
  backend/Models/User.cs
  init.sql
Due: backend

Add an explicit key attribute to User.cs
  backend/Models/User.cs
Due: backend

Remove Index From Users (#323)
  backend/Migrations/20261005181222_RemoveIndexFromUsers.Designer.cs
  backend/Migrations/20261005181222_RemoveIndexFromUsers.cs
  backend/Models/User.cs
  init.sql
Due: backend

chore(deploy): update dev image tag to 6ce1441
  chart/values-dev.yaml
Due: none

Add phase actions and species in family editor
  frontend/src/components/familyEditor/PhaseView.tsx
Due: frontend

remove unused declarations
  frontend/src/components/familyEditor/PhaseView.tsx
Due: frontend

Sync chart/init.sql with the root init.sql
  chart/init.sql
Due: none

Sync chart/init.sql with the root init.sql (#325)
  chart/init.sql
Due: none

Add modal for adding/editing phase
  frontend/src/components/modals/PhaseCreationModal.tsx
Due: frontend

Change add phase button layout
  frontend/src/components/familyEditor/PhaseView.tsx
Due: frontend

Add family editor test for adding/editing phase
  frontend/test/FamilyEditor.test.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
