Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

prettier action fixes
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/serialization.test.tsx
Due: frontend

Add gas-phase coverage to serialization tests
  frontend/test/serialization.test.tsx
Due: frontend

Add phase serialization coverage
  frontend/test/serialization.test.tsx
Due: frontend

Refactor serialization tests onto one shared fixture set
  frontend/test/serialization.test.tsx
Due: frontend

refactoring test, adding test expected to fail for now
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

correcting tests
  frontend/test/serialization.test.tsx
Due: frontend

linking photolysis gas phase
  frontend/src/helpers/musicaAdapter.ts
Due: frontend

refactoring tests to use beforeall
  frontend/test/serialization.test.tsx
Due: frontend

relinking gas phase and the gas-phase products on surface reactions
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/serialization.test.tsx
Due: frontend

adding more tests for species deserializing
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/serialization.test.tsx
Due: frontend

238 import doesnt relink reaction gas phase references gas phase gas phase species to frontend ids (#248)
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

adding adapter, adding user defined test
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

ternary chemical activation
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/serialization.test.tsx
Due: frontend

taylor series
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/serialization.test.tsx
Due: frontend

removing lambda rate constant support for now
  frontend/src/types/chemistryModels.ts
Due: frontend

removing more lambda
  frontend/src/types/chemistryModels.ts
Due: frontend

adding final supported reactions
  frontend/src/helpers/stringify.ts
  frontend/src/types/chemistryModels.ts
Due: frontend

Add missing v1 reaction types (#251)
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/helpers/stringify.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

prettier action fixes
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

Order reaction types alphabetically
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/helpers/stringify.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

Order reaction types alphabetically (#253)
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/helpers/stringify.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

adding test that verifies gas-phase is not hard coded
  frontend/test/serialization.test.tsx
Due: frontend

adding test that verifies gas-phase is not hard coded (#254)
  frontend/test/serialization.test.tsx
Due: frontend

Assert version is always emitted on export (#212)
  frontend/test/serialization.test.tsx
Due: frontend

Assert version is always emitted on export (#212) (#255)
  frontend/test/serialization.test.tsx
Due: frontend

starting to make species have a full table with attributes
  backend/Models/ChemistryDbContext.cs
  backend/Models/Species.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

addressing build warnings in tests
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

resetting database stuff
  backend/Migrations/20250327173719_ResetInitialCreate.Designer.cs
  backend/Migrations/20250327173719_ResetInitialCreate.cs
  backend/Migrations/20250402111106_ReaddFamilyAndSpecies.Designer.cs
  backend/Migrations/20250402111106_ReaddFamilyAndSpecies.cs
  backend/Migrations/20250415192726_ReaddMechanismAndReaction.cs
  backend/Migrations/20250420070450_FullDataModel.Designer.cs
  backend/Migrations/20250420070450_FullDataModel.cs
  backend/Migrations/20250420072758_AddSpeciesStringAttributes.Designer.cs
  backend/Migrations/20250420072758_AddSpeciesStringAttributes.cs
  backend/Migrations/20260825164720_InitialCreate.Designer.cs
  backend/Migrations/20260825164720_InitialCreate.cs
  backend/Migrations/ChemistryDbContextModelSnapshot.cs
  init.sql
Due: backend

adding species tests
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

adding a dto object
  backend/Controllers/SpeciesController.cs
  backend/Models/Dtos/SpeciesDto.cs
  backend/Models/Mappers/SpeciesMapper.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

adding absolute tolerance
  backend/Controllers/SpeciesController.cs
  backend/Migrations/20260825205855_InitialCreate.Designer.cs
  backend/Migrations/20260825205855_InitialCreate.cs
  backend/Migrations/ChemistryDbContextModelSnapshot.cs
  backend/Models/Dtos/SpeciesDto.cs
  backend/Models/Mappers/SpeciesMapper.cs
  backend/Models/Species.cs
  backend/Services/QueryResult.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

alphabetize
  backend/Models/Dtos/SpeciesDto.cs
  backend/Models/Mappers/SpeciesMapper.cs
  backend/Models/Species.cs
  backend/Services/SpeciesService.cs
Due: backend

regenerating sql
  init.sq
Due: none

correcting most uses of species using the full set of attributes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/helpers/serialization.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/serialization.test.tsx
Due: frontend

adding all of the species attributes to the table, making editable
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/modals/SpeciesEditorModal.tsx
  frontend/src/components/modals/modalStyle.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/test/FamilyEditor.test.tsx
Due: frontend

adding all species options, table editing
  frontend/src/components/modals/SpeciesEditorModal.tsx
  frontend/src/helpers/editorHelpers.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/test/FamilyEditor.test.tsx
Due: frontend

rebalancing UI layout
  frontend/src/components/HeaderFooter.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/styles/FamilyEditor.css
Due: frontend

adding more visual balance on the page
  frontend/src/components/HeaderFooter.tsx
  frontend/src/index.css
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

default sort by name
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
