Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Test commit for codecov_workflow.
  .github/workflows/codecov_workflow.yml
  README.md
Due: none

Added production stage to frontend docker container
  docker-compose.yml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend

Frontend only builds in production
  frontend/Dockerfile
Due: frontend

Added development target for backend
  backend/Dockerfile
  docker-compose.yml
Due: backend

Added FRONTEND_HOST and BACKEND_BASE_URL environment variable functionality
  README.md
  backend/Controllers/GoogleOAuthController.cs
  backend/Program.cs
  backend/README.md
Due: backend

Removed google callback url
  README.md
  backend/Program.cs
  backend/README.md
Due: backend

Removed production env file from ./frontend
  frontend/.env.production
Due: frontend

google sign-in implemented
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/UsersController.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/UserControllerTests.cs
Due: backend

Modified backend dockerfile to utilize build stages
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Removed frontend host from appsettings
  backend/.gitignore
  backend/appsettings.Development.json
  backend/appsettings.json
Due: backend

Added build targets and default environment variables to docker compose
  docker-compose.yml
Due: none

Added production docker compose file
  docker-compose.production.yml
Due: none

Fixed docker compose environment variables
  docker-compose.production.yml
Due: none

Removed .env file from backend docker image
  backend/.dockerignore
Due: backend

Added BACKEND_BASE_URL requriement
  docker-compose.production.yml
Due: none

Updated README to reflect current environment
  README.md
  backend/README.md
Due: backend

Made GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET optional in dev container
  docker-compose.yml
Due: none

Reworked codecov workflow to generate and report backend tests. Changed README.md instructions for testing backend.
  .github/workflows/codecov_workflow.yml
  README.md
  backend/ChemistryCafeAPI.csproj
  codecov.yml
Due: backend

multi-architecture support
  backend/Dockerfile
  docker-compose.production.yml
Due: backend

More complete new data design (still wip)
  backend/Controllers/ChemistryCafeContext.cs
  backend/Controllers/FamiliesController.cs
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/MechanismsController.cs
  backend/Controllers/ReactionsController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Migrations/20250319180255_InitialCreate.Designer.cs
  backend/Migrations/20250319180255_InitialCreate.cs
  backend/Migrations/20250320054732_InitialCreate.Designer.cs
  backend/Migrations/20250320054732_InitialCreate.cs
  backend/Models/Family.cs
  backend/Models/Mechanism.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
  backend/Models/User.cs
  backend/Models/UserClaims.cs
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
Due: backend

Decoupled API interfaces with in-app data definitions
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

Fixed typenames in other files
  frontend/src/components/AuthContext.tsx
  frontend/src/components/Modals.tsx
  frontend/src/components/RenderFamilyTree.tsx
  frontend/src/pages/App.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/styles/App.css
Due: frontend

Initial layout of new family editor
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/FamilyPage.css
  frontend/src/types/chemistryModels.ts
Due: frontend

Improvements on family page workflow
  frontend/src/components/NavDropDown.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/FamilyPage.css
Due: frontend

Removed family tree component
  frontend/src/components/RenderFamilyTree.tsx
Due: frontend

Added ability to create local families
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/FamilyPage.css
  frontend/src/types/chemistryModels.ts
Due: frontend

added dyslexia font option
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/index.css
  frontend/src/pages/Settings.tsx
Due: frontend

Removed unused files and changed some instructions for workflows. Updated README.md for backend testing.
  .github/workflows/codecov_workflow.yml
  README.md
  backend/mstests/MSTestSettings.cs
  backend/mstests/mstests.csproj
Due: backend

Added steps to explicitly install ReportGenerator in codecov_workflow.yml
  .github/workflows/codecov_workflow.yml
Due: none

Added ability to update species
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/stringify.ts
  frontend/src/pages/FamilyPage.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/App.test.tsx
Due: frontend

Removed tables from previous implementation of family page
  frontend/src/components/RenderSpeciesReactionTable.tsx
Due: frontend

Added modal for editing reaction
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyPage.tsx
Due: frontend

fixed TypeScript error (hopefully)
  frontend/src/pages/Settings.tsx
Due: frontend

actually fixed typescript error
  frontend/src/pages/Settings.tsx
Due: frontend

Fixed AuthContext getting user data
  frontend/src/components/AuthContext.tsx
Due: frontend

Added ability to modify arrhenius attributes
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Added reaction equation
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/serialization.ts
  frontend/src/helpers/stringify.ts
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Simplified reactionToString
  frontend/src/helpers/stringify.ts
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Finalize mechanism downloads
  frontend/src/helpers/serialization.ts
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
