Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  frontend: 
    paths:
      - frontend
  backend:
    paths:
      - backend

uploads:
  - target: coverage
    flags: frontend
    path: frontend/coverage/lcov.info
  - target: coverage
    flags: backend
    path: backend/coveragereport/lcov.info

Updated creation functions
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/test/API_CreateMethods.test.tsx
Due: frontend

Updated deletion functions
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
Due: frontend

Updated get methods
  frontend/src/API/API_GetMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/rolemanagement.test.tsx
Due: frontend

Changed getUsers to getAllUsers
  frontend/src/pages/UserManagement.tsx
Due: frontend

Added stubs of api to frontend conversions
  frontend/src/helpers/backendInteractions.ts
Due: frontend

Updated update methods
  frontend/src/API/API_Interfaces.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/API/API_config.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Removed unused tests
  frontend/test/Settings.test.tsx
  frontend/test/family.test.tsx
  frontend/test/loggedIn.test.tsx
Due: frontend

General enhancements to the family editor
  frontend/src/API/API_GetMethods.tsx
  frontend/src/components/AuthContext.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/UnitComponent.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/FamilyPage.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

added family controller tests (incomplete)
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

Added ability for user to input all information for MVP
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismBrowser.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/RowActionsButton.tsx
  frontend/src/components/SelectReactionButton.tsx
  frontend/src/components/SelectSpeciesButton.tsx
  frontend/src/components/UnitComponent.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/serialization.ts
  frontend/src/pages/FamilyPage.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

General enhancements to color
  frontend/src/components/FamilyEditorModals.tsx
Due: frontend

user service privelage restricted
  backend/Controllers/UsersController.cs
  backend/Services/UserService.cs
Due: backend

one line format fix
  backend/Services/UserService.cs
Due: backend

logout only appears when signed in
  frontend/src/components/NavDropDown.tsx
Due: frontend

family controller tests migrated
  backend/Controllers/FamilyController.cs
  backend/Models/User.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

use guid instead of googleid
  backend/Controllers/FamilyController.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

reformatting
  backend/Controllers/FamilyController.cs
  backend/Services/UserService.cs
Due: backend

Migrations are now omitted from backend tests.
  .github/workflows/codecov_workflow.yml
  README.md
  backend/.runsettings
Due: backend

Added new branch to workflow for final experimentation
  .github/workflows/codecov_workflow.yml
Due: none

Added basic serialization to V1 JSON
  frontend/src/helpers/serialization.ts
Due: frontend

Added YAML serialization
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/helpers/serialization.ts
Due: frontend

Added semi-working musicbox configuration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/helpers/serialization.ts
Due: frontend

Fixed build errors
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/DownloadMechanismButton.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

Remove unused Modals.tsx file
  frontend/src/components/Modals.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/modals.test.tsx
Due: frontend

Updated tests to work with current schema
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Removed user claims interface and changed logic of whoami
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/AuthContext.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/Home.test.tsx
Due: frontend

Removed unused styling
  frontend/src/pages/familyStyling.tsx
Due: frontend

Removed unneeded content from API and API tests.
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend
