Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Regenerate init.sql for absolute tolerance; keep frontend watch target and quieter EF logs
  backend/appsettings.Development.json
  backend/appsettings.json
  docker-compose.yml
  init.sql
Due: backend

not requiring google login
  backend/Program.cs
Due: backend

prettier action fixes
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/modals/SpeciesEditorModal.tsx
  frontend/src/helpers/editorHelpers.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/test/FamilyEditor.test.tsx
  frontend/test/serialization.test.tsx
Due: frontend

Seed default Mozart and Test families on dev startup
  backend/.dockerignore
  backend/ChemistryCafeAPI.csproj
  backend/Program.cs
  backend/SeedData/DbInitializer.cs
  backend/SeedData/SeedModels.cs
  backend/SeedData/configs/analytical/config.json
  backend/SeedData/configs/chapman/config.json
  backend/SeedData/configs/hires/config.json
  backend/SeedData/configs/oregonator/config.json
  backend/SeedData/configs/robertson/config.json
  backend/SeedData/configs/ts1/config.json
  backend/SeedData/generate-seed.mjs
  backend/SeedData/seed.json
Due: backend

Seed default Mozart and Test families on dev startup (#261)
  backend/.dockerignore
  backend/ChemistryCafeAPI.csproj
  backend/Program.cs
  backend/SeedData/DbInitializer.cs
  backend/SeedData/SeedModels.cs
  backend/SeedData/configs/analytical/config.json
  backend/SeedData/configs/chapman/config.json
  backend/SeedData/configs/hires/config.json
  backend/SeedData/configs/oregonator/config.json
  backend/SeedData/configs/robertson/config.json
  backend/SeedData/configs/ts1/config.json
  backend/SeedData/generate-seed.mjs
  backend/SeedData/seed.json
Due: backend

placing each family editor into its own file
  frontend/src/components/familyEditor/DataViewToolbar.tsx
  frontend/src/components/familyEditor/GeneralInfoView.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/PhaseView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/components/familyEditor/ViewProps.ts
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

placing each family editor into its own file (#263)
  frontend/src/components/familyEditor/DataViewToolbar.tsx
  frontend/src/components/familyEditor/GeneralInfoView.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/PhaseView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/components/familyEditor/ViewProps.ts
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

using dedicated UUIDs rather than strings for most of frontend, species in backend
  backend/Controllers/SpeciesController.cs
  backend/Services/QueryResult.cs
  backend/Services/SpeciesService.cs
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/localFamilies.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
Due: frontend, backend

correcting other controllers
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/QueryResult.cs
  backend/Services/ReactionService.cs
Due: backend

addresing typescript warnings
  backend/appsettings.Development.json
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/helpers/localFamilies.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
Due: frontend, backend

accepting empy id, adding tests
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  frontend/test/backendInteractions.test.ts
Due: frontend, backend

Client-generated UUIDs (#265)
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/QueryResult.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/appsettings.Development.json
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/localFamilies.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
Due: frontend, backend

prettier action fixes
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/localFamilies.ts
  frontend/src/helpers/musicaAdapter.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

separate modals
  .github/workflows/npm_build_test.yml
  frontend/src/components/familyEditor/GeneralInfoView.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/modals/ConfirmActionModal.tsx
  frontend/src/components/modals/FamilyCreationModal.tsx
  frontend/src/components/modals/ImportFamilyModal.tsx
  frontend/src/components/modals/MechanismCreationModal.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

separate modals (#267)
  .github/workflows/npm_build_test.yml
  frontend/src/components/familyEditor/GeneralInfoView.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/modals/ConfirmActionModal.tsx
  frontend/src/components/modals/FamilyCreationModal.tsx
  frontend/src/components/modals/ImportFamilyModal.tsx
  frontend/src/components/modals/MechanismCreationModal.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

adding missing DTOs
  backend/Models/Dtos/FamilyDto.cs
  backend/Models/Dtos/MechanismDto.cs
  backend/Models/Dtos/PhaseDto.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/FamilyMapper.cs
  backend/Models/Mappers/MechanismMapper.cs
  backend/Models/Mappers/PhaseMapper.cs
  backend/Models/Mappers/ReactionMapper.cs
Due: backend

starting to use the dtos
  backend/Controllers/FamilyController.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

correcting create, i think
  backend/Controllers/FamilyController.cs
  backend/Services/FamilyService.cs
Due: backend

bulk updates for family
  backend/Models/Mappers/ReactionMapper.cs
  backend/Services/FamilyService.cs
Due: backend

adding tests, addressing bugs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/DBConnection.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
Due: backend

bulk update families
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/PhaseView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/editorHelpers.ts
  frontend/src/helpers/localFamilies.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

Remove editor children by deletion and clean references
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
Due: frontend

add owner dto
  backend/Models/Dtos/FamilyDto.cs
  backend/Models/Mappers/FamilyMapper.cs
Due: backend

send lists of uuids
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/helpers/backendInteractions.ts
Due: frontend

removing duplicate linq query
  backend/Services/FamilyService.cs
Due: backend

Add a transactional way to save a family (#269)
  backend/Controllers/FamilyController.cs
  backend/Models/Dtos/FamilyDto.cs
  backend/Models/Dtos/MechanismDto.cs
  backend/Models/Dtos/PhaseDto.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/FamilyMapper.cs
  backend/Models/Mappers/MechanismMapper.cs
  backend/Models/Mappers/PhaseMapper.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/DBConnection.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/components/familyEditor/MechanismsView.tsx
  frontend/src/components/familyEditor/PhaseView.tsx
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/helpers/editorHelpers.ts
  frontend/src/helpers/localFamilies.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
Due: frontend, backend

prettier action fixes
  frontend/src/components/familyEditor/ReactionsView.tsx
  frontend/src/components/familyEditor/SpeciesView.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
Due: frontend

Remove dead per-entity write API wrappers (frontend)
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Remove dead per-entity write endpoints (backend)
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

Remove unneeded object APIs (#271)
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend, backend

Add dedicated ArrheniusParameters table (#274)
  backend/Migrations/20260911160825_AddArrheniusParameters.Designer.cs
  backend/Migrations/20260911160825_AddArrheniusParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  init.sql
Due: backend

Show units for reaction parameters in the editor
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

Translate Arrhenius parameters through the dedicated API field
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/test/backendInteractions.test.ts
Due: frontend

274 migrate arrhenius reaction database layout (#276)
  backend/Migrations/20260911160825_AddArrheniusParameters.Designer.cs
  backend/Migrations/20260911160825_AddArrheniusParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/modals/ReactionEditorModal.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

convert tunneling to explicit table
  backend/Migrations/20260916151848_AddTunnelingParameters.Designer.cs
  backend/Migrations/20260916151848_AddTunnelingParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
Due: backend

adding support for tunnelin reaction
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend

Convert tunnleing to a dedicated database table (#278)
  backend/Migrations/20260916151848_AddTunnelingParameters.Designer.cs
  backend/Migrations/20260916151848_AddTunnelingParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/types/chemistryModels.ts
  frontend/test/backendInteractions.test.ts
  init.sql
Due: frontend, backend

prettier action fixes
  frontend/src/helpers/backendInteractions.ts
Due: frontend

adding troe dedicated table
  backend/Migrations/20260916163801_AddTroeParameters.Designer.cs
  backend/Migrations/20260916163801_AddTroeParameters.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Dtos/ReactionDto.cs
  backend/Models/Mappers/ReactionMapper.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  init.sql
Due: backend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
