Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Changes references from Owner.GoogleId to Owner.Id
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/ReactionController.cs
Due: backend

Reverted CreatedAtAction to return the given object instead of ActionResult from Get action
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/ReactionController.cs
Due: backend

Added save button with no functionality yet
  frontend/src/pages/FamilyPage.tsx
Due: frontend

Functionality moved to FamilyService
  backend/Controllers/FamilyController.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

Updated behavior of nullable results
  backend/Controllers/FamilyController.cs
  backend/Services/FamilyService.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

Removed user claims object
  backend/Models/UserClaims.cs
Due: backend

Added table annotations
  backend/Models/Family.cs
  backend/Models/Mechanism.cs
  backend/Models/Phase.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
Due: backend

navigation bar links are now proper links and can be opened in a new tab
  frontend/src/components/NavDropDown.tsx
Due: frontend

Updated definitions to be JSON serializable
  backend/Controllers/MechanismController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Mechanism.cs
  backend/Models/Phase.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
  backend/Program.cs
  backend/Services/FamilyService.cs
  frontend/src/API/API_Interfaces.tsx
Due: frontend, backend

Simplified mechanism relations
  backend/Controllers/MechanismController.cs
  backend/Controllers/ReactionController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Mechanism.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
Due: backend

Added species service and controller
  backend/Controllers/FamilyController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/QueryResult.cs
  backend/Services/SpeciesService.cs
Due: backend

Extra code-first annotation
  backend/Models/Species.cs
Due: backend

Fixed old species attributes not being removed
  backend/Services/SpeciesService.cs
Due: backend

Added Reaction CRUD
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/Services/PhaseService.cs
  backend/Services/QueryResult.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/Services/UserService.cs
Due: backend

Added services to scope
  backend/Program.cs
Due: backend

Added phase CRUD and beginnings of mechanism CRUD
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Family.cs
  backend/Models/Phase.cs
  backend/Models/Reaction.cs
  backend/Program.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
Due: backend

Added CRUD functionality to all models
  backend/Controllers/FamilyController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Mechanism.cs
  backend/Models/Reaction.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/UserService.cs
Due: backend

Added full data model and CRUD
  backend/Migrations/20250420070450_FullDataModel.Designer.cs
  backend/Migrations/20250420070450_FullDataModel.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Phase.cs
  backend/Models/Reaction.cs
  backend/Models/Species.cs
Due: backend

Fixed various bugs
  backend/Controllers/FamilyController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Migrations/20250420072758_AddSpeciesStringAttributes.Designer.cs
  backend/Migrations/20250420072758_AddSpeciesStringAttributes.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Species.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
Due: backend

Temp fix to frontend build
  frontend/src/helpers/backendInteractions.ts
Due: frontend

Commented out backend interaction tests because they are not accurate anymore
  frontend/test/backendInteractions.test.ts
Due: frontend

Skip backendInteraction tests
  frontend/test/backendInteractions.test.ts
Due: frontend

Added documentation to services and hardened user modification endpoints
  backend/Controllers/UsersController.cs
  backend/Services/FamilyService.cs
  backend/Services/MechanismService.cs
  backend/Services/PhaseService.cs
  backend/Services/ReactionService.cs
  backend/Services/SpeciesService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/UserControllerTests.cs
Due: backend

Renamed family page to family editor
  frontend/src/components/NavDropDown.tsx
  frontend/src/pages/App.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/test/App.test.tsx
  frontend/test/Dashboard.test.tsx
  frontend/test/FamilyPage.test.tsx
Due: frontend

Added ability to remove some relations for reactions
  backend/Services/ReactionService.cs
Due: backend

Implemented full conversions of data for the frontend
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/styles/FamilyEditor.css
  frontend/src/types/chemistryModels.ts
  frontend/test/FamilyEditor.test.tsx
  frontend/test/backendInteractions.test.ts
Due: frontend

Species and Reactions can save to the databse
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
  frontend/test/FamilyEditor.test.tsx
  frontend/test/backendInteractions.test.ts
Due: frontend

Most of the backend works
  backend/Services/MechanismService.cs
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/FamilyEditor.tsx
Due: frontend, backend

Fixed build issue
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Fixed mechanism and reaction relations
  frontend/src/helpers/backendInteractions.ts
Due: frontend

Removed printing
  backend/Services/MechanismService.cs
Due: backend

docker no longer creates init.sql
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
  docker-compose.production.yml
  docker-compose.yml
Due: backend

Species test complete
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

changed order of deletes
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

fixed DeleteSpecies test
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

Fixed background for User Management page
  frontend/src/pages/UserManagement.tsx
Due: frontend

Changed Colors to reflect new default colors
  frontend/src/components/CustomThemeContext.tsx
Due: frontend

Moved color pickers to appearance settings
  frontend/src/pages/Settings.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
