Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update backend/Services/OrcidOAuthService.cs
  backend/Services/OrcidOAuthService.cs
Due: backend

Update backend/Controllers/UsersController.cs
  backend/Controllers/UsersController.cs
Due: backend

Added Tests and moved some redundant code
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/UsersController.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/OrcidOAuthControllerTests.cs
Due: backend

Fixed a removed excluded from code covereage that was not intended
  backend/Controllers/GoogleOAuthController.cs
Due: backend

Added Alt / Aria to ORCID Logins
  frontend/src/components/HeaderFooter.tsx
Due: frontend

Updated Tests for removal of unused GetCurrentUser and GetNameIdentifier
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/OrcidOAuthControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

Fixed incorrect test for User controller for when NameIdentifer is null
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

Fixed Home Test
  frontend/test/Home.test.tsx
Due: frontend

updates to deploy to cirrus
  .github/workflows/docker_image.yml
  chart/.helmignore
  chart/Chart.yaml
  chart/README.md
  chart/init.sql
  chart/templates/_helpers.tpl
  chart/templates/configmap-backend.yaml
  chart/templates/deployment-backend.yaml
  chart/templates/deployment-frontend.yaml
  chart/templates/deployment-mysql.yaml
  chart/templates/external-secrets.yaml
  chart/templates/ingress.yaml
  chart/templates/pvc-mysql.yaml
  chart/templates/role.yaml
  chart/templates/serviceaccount.yaml
  chart/values-dev.yaml
  chart/values.yaml
  frontend/Dockerfile
Due: frontend

ci futz
  .github/workflows/docker_image.yml
Due: none

ci
  .github/workflows/docker_image.yml
  chart/values-dev.yaml
Due: none

yq on the runner is different from my host
  .github/workflows/docker_image.yml
Due: none

chore(deploy): update dev image tag to 323618f
  chart/values-dev.yaml
Due: none

helm chart fixes
  chart/templates/_helpers.tpl
  chart/templates/configmap-backend.yaml
  chart/templates/deployment-backend.yaml
  chart/templates/deployment-frontend.yaml
  chart/templates/deployment-mysql.yaml
  chart/templates/external-secrets.yaml
  chart/templates/pvc-mysql.yaml
  chart/values-dev.yaml
Due: none

chore(deploy): update dev image tag to 4fdd838
  chart/values-dev.yaml
Due: none

helm chart fixes
  chart/templates/deployment-mysql.yaml
Due: none

chore(deploy): update dev image tag to a27b3bb
  chart/values-dev.yaml
Due: none

Control the database seed with SEED_DATABASE
  .env.example
  README.md
  backend/Program.cs
  backend/README.md
  backend/SeedData/DbInitializer.cs
  docker-compose.production.yml
  docker-compose.yml
Due: backend

Fix the Cirrus deployment and seed the dev database
  .github/workflows/docker_image.yml
  chart/README.md
  chart/templates/configmap-backend.yaml
  chart/templates/deployment-frontend.yaml
  chart/templates/external-secrets.yaml
  chart/templates/pvc-mysql.yaml
  chart/values-dev.yaml
  chart/values.yaml
  docker-compose.production.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend

Fix Google sign-in on the Cirrus deployment
  backend/Program.cs
  chart/values-dev.yaml
Due: backend

Revert the ExternalSecrets default changes
  chart/templates/external-secrets.yaml
  chart/values.yaml
Due: none

Redo migration to rename it and add missing designer file
  backend/Migrations/20260921200544_AddOrcidIdToUsers.Designer.cs
  backend/Migrations/20260921200544_AddOrcidIdToUsers.cs
  init.sql
Due: backend

update code cove version
  .github/workflows/codecov_workflow.yml
Due: none

Add ORCID Login & User Link (#308)
  .env.example
  .github/workflows/codecov_workflow.yml
  backend/Controllers/MechanismController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Migrations/20260921200544_AddOrcidIdToUsers.Designer.cs
  backend/Migrations/20260921200544_AddOrcidIdToUsers.cs
  backend/Models/User.cs
  backend/Program.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/FamilyServiceReconcileTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/OrcidOAuthControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
  docker-compose.production.yml
  docker-compose.yml
  frontend/src/API/API_GetMethods.tsx
  frontend/src/assets/ORCID-iD_icon_vector.svg
  frontend/src/components/HeaderFooter.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/Home.test.tsx
  init.sql
Due: frontend, backend

prettier action fixes
  frontend/src/components/HeaderFooter.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/Home.test.tsx
Due: frontend

Add ORCID sign-in to the Cirrus deployment
  chart/README.md
  chart/init.sql
  chart/templates/external-secrets.yaml
  chart/values-dev.yaml
  chart/values.yaml
Due: none

chore(deploy): update dev image tag to 532ad5c
  chart/values-dev.yaml
Due: none

Restart MySQL when init.sql changes
  chart/templates/deployment-mysql.yaml
Due: none

Fix cirrus deploy (#312)
  .env.example
  .github/workflows/docker_image.yml
  README.md
  backend/Program.cs
  backend/README.md
  backend/SeedData/DbInitializer.cs
  chart/README.md
  chart/init.sql
  chart/templates/configmap-backend.yaml
  chart/templates/deployment-frontend.yaml
  chart/templates/deployment-mysql.yaml
  chart/templates/external-secrets.yaml
  chart/templates/pvc-mysql.yaml
  chart/values-dev.yaml
  chart/values.yaml
  docker-compose.production.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend, backend

chore(deploy): update dev image tag to 2397e46
  chart/values-dev.yaml
Due: none

Trim the OAuth client IDs and secrets
  backend/Program.cs
Due: backend

Trim the OAuth client IDs and secrets (#314)
  backend/Program.cs
Due: backend

chore(deploy): update dev image tag to 41b3470
  chart/values-dev.yaml
Due: none

Added Tests and Finished linking of orcid and google
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/OrcidOAuthController.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/OrcidOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/UsersControllerTests.cs
  frontend/src/API/API_Interfaces.tsx
  frontend/src/pages/Settings.tsx
  frontend/test/Settings.test.tsx
Due: frontend, backend

Fix some UserService Comments
  backend/Services/UserService.cs
Due: backend

Address Michael Comments - BaseHelperController, Comments and unneeded endpoint.
  backend/Controllers/BaseHelperController.cs
Due: backend

Updated object names for better instance identification. Update url to official url
  chart/templates/_helpers.tpl
  chart/templates/configmap-backend.yaml
  chart/templates/deployment-frontend.yaml
  chart/templates/external-secrets.yaml
  chart/values-dev.yaml
Due: none

chore(deploy): update dev image tag to 023acf8
  chart/values-dev.yaml
Due: none

Fix helm deployment-backend env object naming
  chart/templates/deployment-backend.yaml
Due: none

chore(deploy): update dev image tag to 295019d
  chart/values-dev.yaml
Due: none

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
