Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Removed tests which test functionality which was removed
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/renderfamilytree.test.tsx
Due: frontend

Fixed accidental merge conflict
  README.md
Due: none

prettier action fixes
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/CustomThemeContext.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/Modals.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/src/helpers/serialization.ts
  frontend/src/helpers/stringify.ts
  frontend/src/index.css
  frontend/src/pages/FamilyPage.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/API_CreateMethods.test.tsx
Due: frontend

Added team 3 names
  CITATION.cff
Due: none

Remove underscores from namespace
  backend/.runsettings
  backend/ChemistryCafeAPI.csproj
  backend/ChemistryCafeAPI.http
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/UsersController.cs
  backend/Migrations/20250327173719_ResetInitialCreate.Designer.cs
  backend/Migrations/20250327173719_ResetInitialCreate.cs
  backend/Migrations/ChemistryDbContextModelSnapshot.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/User.cs
  backend/Models/UserClaims.cs
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/UserService.cs
  backend/mstests/Controllers/DBConnection.cs
  backend/mstests/Controllers/UserControllerTests.cs
Due: backend

Added environment variables to github workflow
  .github/workflows/dotnet.yml
Due: none

Changed MYSQL_SERVER environment variable
  .github/workflows/dotnet.yml
Due: none

Added environment variables to dotnet command instead of job
  .github/workflows/dotnet.yml
Due: none

Added testing environment variables directly on test command
  .github/workflows/dotnet.yml
Due: none

Attempt at ensuring environment variables are the issue
  backend/mstests/Controllers/DBConnection.cs
Due: backend

Re-add environment variables
  backend/mstests/Controllers/DBConnection.cs
Due: backend

Changed localhost to 127.0.0.1
  .github/workflows/dotnet.yml
  backend/mstests/Controllers/DBConnection.cs
Due: backend

added workflow
  .github/workflows/close_stale_issues.yml
Due: none

added workflow (#143)
  .github/workflows/close_stale_issues.yml
Due: none

Re-add basic family and species models
  backend/Controllers/FamilyController.cs
  backend/Migrations/20250402111106_ReaddFamilyAndSpecies.Designer.cs
  backend/Migrations/20250402111106_ReaddFamilyAndSpecies.cs
  backend/Models/ChemistryDbContext.cs
  backend/Models/Family.cs
  backend/Models/Species.cs
  backend/Program.cs
  backend/Services/FamilyService.cs
Due: backend

users tests work and added utility script
  backend-test.sh
  backend/ChemistryCafeAPI.csproj
  backend/Dockerfile
  backend/Models/User.cs
  backend/mstests/Controllers/DBConnection.cs
  backend/mstests/Models/ChemistryDbContextTests.cs
  backend/mstests/Models/UserTests.cs
  backend/mstests/Services/IMySqlDataSource.cs
  backend/mstests/Services/MySqlDataSourceWrapper.cs
  backend/mstests/Services/UserServiceTests.cs
Due: backend

Changed NameIdentifier to refer to the database id instead
  backend/Controllers/GoogleOAuthController.cs
  backend/Services/GoogleOAuthService.cs
Due: backend

add rest of family CRUD
  backend/Controllers/FamilyController.cs
  backend/Controllers/GoogleOAuthController.cs
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
  backend/Services/UserService.cs
Due: backend

Changed responses whoami endpoint sends when user data is invalid
  backend/Controllers/GoogleOAuthController.cs
Due: backend

Removed recursive relationship between Family and Species and added data annotations
  backend/Models/Family.cs
  backend/Models/Species.cs
Due: backend

Added default guid for species
  backend/Models/Species.cs
Due: backend

Implemented the rest of family CRUD
  backend/Controllers/FamilyController.cs
Due: backend

Attempt at getting workflow to work with migrations
  .github/workflows/dotnet.yml
Due: none

Added root password to workflow database
  .github/workflows/dotnet.yml
Due: none

Added working directory to workflow
  .github/workflows/dotnet.yml
Due: none

Added fake google credentials to workflow for migrations to work
  .github/workflows/dotnet.yml
Due: none

Fixed directory for backend tests
  .github/workflows/dotnet.yml
Due: none

Added similar workflow of dotnet-test to codecov workflow
  .github/workflows/codecov_workflow.yml
  .github/workflows/dotnet.yml
Due: none

Added migrations to codecoverage exclusion
  backend/.runsettings
Due: backend

Removed unneeded content from API and API tests.
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_DeleteMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Updated API interfaces
  frontend/src/API/API_Interfaces.tsx
Due: frontend

Remove unused Modals.tsx file
  frontend/src/components/Modals.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/modals.test.tsx
Due: frontend

Removed user claims interface and changed logic of whoami
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_Interfaces.tsx
  frontend/src/components/AuthContext.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/Home.test.tsx
Due: frontend

Updated tests to work with current schema
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_GetMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
Due: frontend

Removed unused styling
  frontend/src/pages/familyStyling.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend
  backend: any of: backend
