Repository NCAR/chemistry-cafe: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  precision: 2
  round: down

comment: false

flags:
  frontend: 
    paths:
      - frontend
  backend:
    paths:
      - backend

uploads:
  - target: coverage
    flags: frontend
    path: frontend/coverage/lcov.info
  - target: coverage
    flags: backend
    path: backend/coveragereport/lcov.info

Added local family storing
  frontend/src/components/FamilyBrowser.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/test/FamilyEditor.test.tsx
Due: frontend

create a migration and update the database when docker compose starts
  backend/Dockerfile
  docker-compose.yml
Due: backend

Added init.sql which applies migrations to the database
  docker-compose.production.yml
  docker-compose.yml
  init.sql
Due: none

Updated README.md
  README.md
Due: none

prettier action fixes
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/API/API_DeleteMethods.tsx
  frontend/src/API/API_GetMethods.tsx
  frontend/src/API/API_UpdateMethods.tsx
  frontend/src/components/FamilyBrowser.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/MechanismEditor.tsx
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/App.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/UserManagement.tsx
  frontend/test/API_CreateMethods.test.tsx
  frontend/test/API_UpdateMethods.test.tsx
  frontend/test/FamilyEditor.test.tsx
  frontend/test/backendInteractions.test.ts
Due: frontend

phase controller tests
  backend/mstests/Controllers/PhaseControllerTests.cs
Due: backend

added mechanism controllers
  backend/mstests/Controllers/MecahnismControllerTests.cs
Due: backend

added reaction controller tests
  backend/mstests/Controllers/ReactionControllerTests.cs
Due: backend

User now defaults to 'unverified'
  backend/Services/UserService.cs
Due: backend

Added cloning functionality
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/src/helpers/localFamilies.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
Due: frontend

Cast string to UUID to fix build error
  frontend/src/helpers/backendInteractions.ts
Due: frontend

Temporarily skip zip test
  frontend/test/FamilyEditor.test.tsx
Due: frontend

prettier action fixes
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/localFamilies.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/FamilyEditor.test.tsx
Due: frontend

added invalid family mechanism test
  backend/mstests/Controllers/MecahnismControllerTests.cs
Due: backend

CreateMechanismFromInvalidFamily test added
  backend/mstests/Controllers/MecahnismControllerTests.cs
Due: backend

added invalid delete tests
  backend/Controllers/ReactionController.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
Due: backend

added invalid tests to species
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

added google login/logout tests
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

excluding non-unit testable functions from code coverage
  backend/Controllers/FamilyController.cs
  backend/Controllers/GoogleOAuthController.cs
  backend/Controllers/MechanismController.cs
  backend/Controllers/PhaseController.cs
  backend/Controllers/ReactionController.cs
  backend/Controllers/SpeciesController.cs
  backend/Controllers/UsersController.cs
  backend/Services/GoogleOAuthService.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

Remove unnecessary checks in test code
  backend/Models/ChemistryDbContext.cs
  backend/Services/GoogleOAuthService.cs
  backend/mstests/Controllers/DBConnection.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
  backend/mstests/Controllers/MecahnismControllerTests.cs
  backend/mstests/Controllers/PhaseControllerTests.cs
  backend/mstests/Controllers/ReactionControllerTests.cs
  backend/mstests/Controllers/SpeciesControllerTests.cs
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

Fixed sign-in after family creation bug
  frontend/src/helpers/backendInteractions.ts
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Name is no longer required for a reaction
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Fixed issue with reaction name and description not showing up
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Floating menu buttons close menu
  frontend/src/components/RowActionsButton.tsx
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

Equation is now filterable for reactions
  frontend/src/pages/FamilyEditor.tsx
Due: frontend

made program with proper entrypoint
  backend/ChemistryCafeAPI.csproj
  backend/Program.cs
  backend/Services/GoogleOAuthService.cs
  backend/mstests/Controllers/GoogleOAuthControllerTests.cs
Due: backend

added attribute testing for species
  backend/mstests/Controllers/SpeciesControllerTests.cs
Due: backend

excluding junction tables as not used by code directly
  backend/Models/Mechanism.cs
Due: backend

added product and reactant testing
  backend/mstests/Controllers/ReactionControllerTests.cs
Due: backend

testing reaction attributes
  backend/mstests/Controllers/ReactionControllerTests.cs
Due: backend

nameIdentifer family tests added
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

expanded family tests added
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

create family update/delete unauthorized/not found tests
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

finish family controller testing
  backend/Controllers/FamilyController.cs
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

fixed family update null name id test
  backend/mstests/Controllers/FamilyControllerTests.cs
Due: backend

invalid name id tests for user controller
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

not foundl/no access/parse error user tests added
  backend/Services/UserService.cs
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

fixed bug in DeleteUserNotFound
  backend/Controllers/UsersController.cs
  backend/mstests/Controllers/UsersControllerTests.cs
Due: backend

Added configuration for different reaction types
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/stringify.ts
  frontend/src/pages/FamilyEditor.tsx
  frontend/src/types/chemistryModels.ts
  frontend/test/FamilyEditor.test.tsx
  frontend/test/stringify.test.ts
Due: frontend

Added file upload capabilities
  frontend/src/API/API_CreateMethods.tsx
  frontend/src/components/CAMPFileUpload.tsx
  frontend/src/components/FamilyEditorModals.tsx
  frontend/src/helpers/serialization.ts
  frontend/src/pages/FamilyEditor.tsx
Due: frontend
